<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket.q Mensagens</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

  <!-- Styles CSS -->
  <link rel="stylesheet" href="./styles/global.css">
  <link rel="stylesheet" href="./styles/home.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@500;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <div id="home" class="content">
    <header>
      <a href="./home.html" title="Home">
        <img src="/images/Logo.png" alt="Logo Principal" />
      </a>
    </header>
    <div id="background-body">
      <div class="ball top"></div>
      <div class="ball bottom"></div>
    </div>
    <main>
      <div class="container">
        <section>
          <h2>Crie sua própria sala</h2>
          <form id="body-form" action="#">
            <label class="sr-only" for="room-pass">Insira uma senha</label>
            <input id="room-pass" title="entrada" type="password" placeholder="Informe a senha">
            <button type="button" title="Entrar na Sala">
              <img src="/images/users-white.svg" alt="Login">
              Criar Sala
            </button>
          </form>
        </section>
        
      </div>
    </main>
  </div>

</body>

</html>