<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket.q Perguntas e Respostas</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

  <!-- Styles CSS -->
  <link rel="stylesheet" href="./styles/global.css">
  <link rel="stylesheet" href="./styles/room.css">
  <link rel="stylesheet" href="./styles/modal.css">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@500;700&display=swap"
    rel="stylesheet">

    <!-- Scripts -->
<script type="module" src="scripts/main.js" defer></script>

</head>

<body>
  <div id="room" class="content">
    <header>
      <a href="/" title="Home">
        <img src="/images/Logo.png" alt="Logo Principal" />
      </a>
      <div class="buttons">
        <div class="button outlined" id="room-id" data-id="323232">
          #323232
          <img src="/images/copy.svg" alt="Botão Copiar">
        </div>
        <a href="#" class="button btn-enviar">
          <img src="/images/users-white.svg" alt="Usuarios">
          Criar Sala
        </a>
      </div>
    </header>
    <main>
      <section id="form-sala">
        <h2>Faça um Pergunta</h2>
        <form action="#" method="post">
          <label class="sr-only" for-id="question">O que quer perguntar?</label>
          <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
          <footer>
            <div class="anonimo">
              <img src="./images/cadeado.svg" alt="Cadeado Segurança">
              Essa pergunta é anônima!
            </div>
            <button type="button" title="Enviar">Enviar</button>
          </footer>
        </form>
      </section>
      <section id="questions">
        <h2 class="sr-only">Perguntas da Comunidade</h2>
        <div class="secao-question">

          <div class="question-wrapper">
            <div class="question-content">
              <div class="user">
                <img src="./images/usuario.svg" alt="Avatar">
              </div>
              <div class="question">
                <p>Qual a diferença entre const, var e let no JS? Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Voluptatum dolores est ducimus deleniti minima, qui delectus minus nam quod. Tempore culpa
                  debitis dolorum est ex eius similique impedit, neque nulla. Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Nostrum accusantium doloremque reiciendis numquam, vel officiis ducimus illum
                  suscipit, excepturi similique minima, neque fuga. In labore maiores debitis exercitationem iusto quod.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. In commodi corporis provident quod nulla
                  nesciunt unde aliquam velit! Laboriosam eum rem vitae quas mollitia culpa modi debitis tempora. Neque,
                  laborum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam nulla aspernatur omnis, in
                  ab suscipit, velit quis voluptatibus esse, asperiores deleniti eaque est deserunt! Officia ullam iste
                  aliquam assumenda voluptatibus.
                </p>
              </div>
            </div>
            <div class="actions">
              <a href="#" class="check" data-id="2">
                <img src="/images/check.svg" alt="Lida">
                Marcar como lida
              </a>
              <a href="#" class="delete" data-id="2">
                <img src="/images/excluir.svg" alt="Excluir">
                Excluir
              </a>
            </div>
          </div>

          <div class="question-wrapper">
            <div class="question-content">
              <div class="user">
                <img src="./images/usuario.svg" alt="Avatar">
              </div>
              <div class="question">
                <p>O que é JAVA?</p>
              </div>
            </div>
            <div class="actions">
              <a href="#" class="check" data-id="3">
                <img src="/images/check.svg" alt="Lida">
                Marcar como lida
              </a>
              <a href="#" class="delete" data-id="3">
                <img src="/images/excluir.svg" alt="Excluir">
                Excluir
              </a>
            </div>
          </div>

          <div class="question-wrapper read">
            <div class="question-content">
              <div class="user">
                <img src="./images/usuario.svg" alt="Avatar">
              </div>
              <div class="question">
                <p>O que é COBOL?</p>
              </div>
            </div>
            <div class="actions">
              <a href="#" class="delete" data-id="1">
                <img src="/images/excluir.svg" alt="Excluir">
                Excluir
              </a>
            </div>
          </div>
          

        </div>

      </section>
      <!-- <div class="secao-conversas">
        <img src="./images/ilustrucacao-conversa.svg" alt="Mensagens trocadas">
        <h2>Nenhuma pergunta por aqui...</h2>
        Faça sua primeira pergunta e envie o código dessa sala para os seus amigos!
      </div> -->
        <!-- MODAL -->
      <div class="modal-wrapper">
        <div class="modal">
          <h2>Excluir pergunta</h2>
          <p>Tem certeza que deseja excluir essa pergunta?</p>
    
          <form id="form-modal" action="#" method="POST">
            <label class="sr-only" for-id="password">Digite sua senha:</label>
            <input id="password" title="senha" placeholder="Senha" autocomplete="new-password" type="password">
            <div class="buttons">
              <div class="button grey btn-enviar cancel">Cancelar</div>
              <button class="excluir" type="button">Sim, excluir</button>
            </div>
    
          </form>
        </div>
      </div>
    </main>
  </div>

  
</body>
</html>