<section>
  <h2>Crie sua própria sala</h2>
  <form id="body-form" action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma senha</label>
    <input id="room-pass" title="entrada" type="password" placeholder="Informe a senha">
    <button type="button" title="Entrar na Sala">
      <img src="/images/users-white.svg" alt="Login">
      Criar Sala
    </button>
  </form>
</section>