<section>
  <h2>Entre como participante</h2>
  <form id="body-form" action="#">
    <label class="sr-only" for="room-id">Código da Sala</label>
    <input id="room-id" title="entrada" type="number" placeholder="Código da Sala">
    <button type="button" title="Entrar na Sala">
      <img src="/images/enter-room.svg" alt="Login">
      Entrar na Sala
    </button>
  </form>
</section>
<div class="diviser">
  <div class="linha-diviser"></div>
  <div>Ou</div>
  <div class="linha-diviser"></div>
</div>
<section>
  <h2>Crie sua Própria Sala!</h2>
  <a class="btn-enviar outlined" href="/create-pass" title="Criar sala">
    <img src="/images/users.svg" alt="Criar Sala">
    Criar Sala
  </a>
</section>
